<div class="container">


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>

      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">

            <% @photos.each do |photo| %>
            <tr>
              <td><%= photo.user.username%> ... <%= time_ago_in_words(photo.created_at) %> ago</td>
              <td><img src="<%= photo.image %>" class="col-md-12"></td>

              <td><p>
                <form action="/create_like" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden">

                  <input type="hidden" name="photo_id" value="<%= photo.id %>">

                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <button class="btn btn-link">
                    <i class="fa fa-heart-o"></i>
                  </button>
                </form>
              </p></td>

              <td>
                 <% photo.comments.each do |comment|%>
                 <p> <%= comment.user.username %> ... <%= time_ago_in_words(comment.created_at) %> ago </p>
                 <p> <%= comment.body %> </p>
                 <% end %>
              </td>

              <td>
                <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
                <% if photo.user_id == current_user.id then %>
                <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
                <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
                <% end %>
              </td>
            </tr>
            <!-- <li class="media"> -->
              <div class="media-body">
                <form action="/create_comment" method="post">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <!-- <input name="authenticity_token" type="hidden" value="WNyZC3c5D20IoLOgMdnch/sF2vLk6UhINyQYwHDG+osiz23VpPP3Gi1Kadc+jHOiS5ZuR6XbVUsWZUbZM04rBw=="> -->

                  <input type="hidden" name="photo_id" value="<%=photo.id%>">

                  <input type="hidden" name="user_id" value="<%=current_user.id%>">

                  <!-- Label and input for body -->
                  <div class="form-group">
                    <label for="body" class="sr-only">
                      Body
                    </label>

                    <div class="input-group">
                      <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fa fa-commenting-o"></i>
                        </button>
                      </span>
                    </div><!-- /input-group -->
                  </div>
                </form>
              </div>
              <!-- </li> -->
            <% end %>
          </h3>
        </div>
      </div>
    </div>
  </div>
