<div class="container">


   <div class="row">
 <div class="col-md-8 col-md-offset-2">
   <a href="/photos/new" class="btn btn-default btn-block">
     <i class="fa fa-plus"></i>
   </a>

   <hr>
 </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">

          <% @photos.each do |photo| %>
          <tr>
            <td><%= photo.user.id%> ... <%= time_ago_in_words(photo.created_at) %> ago</td>
            <td><img src="<%= photo.image %>"></td>
            <td><%= photo.user_id %></td>
            <td>
              <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </td>
          </tr>
          <li class="media">
           <div class="media-body">
             <form action="/create_comment" method="post">
               <!-- Hidden input for authenticity token to protect from forgery -->
               <!-- <input name="authenticity_token" type="hidden" value="WNyZC3c5D20IoLOgMdnch/sF2vLk6UhINyQYwHDG+osiz23VpPP3Gi1Kadc+jHOiS5ZuR6XbVUsWZUbZM04rBw=="> -->

               <input type="hidden" name="photo_id" value="<%photo.id%>">

               <input type="hidden" name="user_id" value="<%current_user.id%>">

               <!-- Label and input for body -->
               <div class="form-group">
                 <label for="body" class="sr-only">
                   Body
                 </label>

                 <div class="input-group">
                   <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                   <span class="input-group-btn">
                     <button class="btn btn-default" type="button">
                       <i class="fa fa-commenting-o"></i>
                     </button>
                   </span>
                 </div><!-- /input-group -->
               </div>
             </form>
           </div>
         </li>
          <% end %>
        </h3>
      </div>
    </div>
  </div>
</div>
